body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
    
h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    font-size: 16px;
    color: aquamarine;
}